<form method="POST" action="https://formspree.io/mpwadelx" class="noajax" novalidate data-abide>
	<input type="text" name="_gotcha" style="display: none">
	<input type="hidden" name="_cc" value="jwong@abpro-labs.com" />

	<div class="row text-left">
		<div class="column medium-6">
			<label for="name">
				Name
				<input type="text" id="name" name="name">
			</label>
			<label for="comapny">
				Company/Organization
				<input type="text" id="company" name="company">
			</label>
			<label for="email">
				Email
				<input type="email" id="email" name="email">
			</label>
			<label for="phone">
				Phone
				<input type="tel" id="phone" name="phone">
			</label>
		</div>
		<div class="column medium-6">
			<label for="message">
				Message
				<textarea name="message" id="message" cols="30" rows="10"></textarea>
			</label>
		</div>
	</div>
	<div class="row column">
		<button class="button large hollow">Send Message &rarr;</button>
	</div>
</form>
