<form method="POST" action="https://formspree.io/careers@abpro-labs.com" novalidate data-abide>
	<input type="text" name="_gotcha" style="display: none">

	<div class="row">
		<div class="column medium-3">
			<label for="firstName">First Name</label>
		</div>
		<div class="column medium-9">
			<input type="text" name="firstName" id="firstName" required>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="lastName">Last Name</label>
		</div>
		<div class="column medium-9">
			<input type="text" name="lastName" id="lastName" required>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="email">Email</label>
		</div>
		<div class="column medium-9">
			<input type="email" name="email" id="email" required>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="phone">Phone</label>
		</div>
		<div class="column medium-9">
			<input type="tel" name="phone" id="phone" required>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="location">Location</label>
		</div>
		<div class="column medium-9">
			<input type="text" name="location" id="location" required>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="resume">Resume/CV</label>
		</div>
		<div class="column medium-9">
			<textarea cols="50" rows="10" name="resume" id="resume" required></textarea>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="coverletter">Cover Letter</label>
		</div>
		<div class="column medium-9">
			<textarea cols="50" rows="10" name="coverletter" id="coverletter" required></textarea>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="about">Tell us a bit about yourself</label>
		</div>
		<div class="column medium-9">
			<textarea name="about" id="about" cols="30" rows="10" required></textarea>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
			<label for="why">Why Abpro?</label>
		</div>
		<div class="column medium-9">
			<textarea name="why" id="why" cols="30" rows="10" required></textarea>
		</div>
	</div>

	<div class="row">
		<div class="column medium-3">
		</div>
		<div class="column medium-9">
			<button class="button" type="submit">
				Submit Application
			</button>
		</div>
	</div>

</form>