<section class="mobile-menu">
	<div class="row column">
		<img src="/static/images/abpro-logo-white.svg" class="logo float-left">
		<a href="#" class="menu-toggle float-right">
			<i class="icon-close"></i>
		</a>
	</div>
	<div class="row column">
		<ul class="menu vertical large">
			<!-- <li {% if getCurrentUrl() == url('services') %}class="active"{% endif %}><a href="{{ url('services') }}">Services</a></li> -->
			<li {% if getCurrentUrl() == '/technology/' %}class="active"{% endif %}><a href="/technology/">Technology</a></li>
			<li {% if getCurrentUrl() == url('sectors') %}class="active"{% endif %}><a href="{{ url('sectors') }}">Sectors</a></li>
			<li {% if getCurrentUrl() == url('news') %}class="active"{% endif %}><a href="{{ url('news') }}">News</a></li>
			<li {% if getCurrentUrl() == url('about') %}class="active"{% endif %}><a href="{{ url('about') }}">About Us</a></li>
			<li {% if getCurrentUrl() == url('contact') %}class="active"{% endif %}><a href="{{ url('contact') }}">Contact</a></li>
		</ul>
	</div>
</section class="mobile-menu">