{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}

  <section class="padding">
    <div class="row">
      <div class="column large-4"></div>
      <div class="column large-8">
        <h2>{{ item.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-4">
        <ul class="menu vertical" style="margin-top: 2em;">
          {% for item in cms.careers %}
            <li><a href="{{ url(item) }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column large-8">
        {{ item.description|safe }}
        <hr>
        <h3>Apply for this position:</h3>
        {% include 'templates/partials/jobs-form.html' %}
      </div>
    </div>
  </section>

{% endblock %}
