{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - careers{% endblock %}

{% block content %}

  <section id="hero" class="cover fixed" data-bg="/static/images/stock-1.jpg">
    <div class="overlay">
      <div class="inner padding">
        <div class="row">
          <div class="column large-9">
            <h2>Working at Abpro</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus soluta maiores, ducimus obcaecati vero minima pariatur veritatis voluptatum explicabo tempora?</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="padding">
    <div class="row column text-center">
      <h2>Current Openings</h2>
    </div>
    <div class="row large-up-3">
      {% for item in cms.careers %}
        <div class="column">
          <hr>
          <h3>{{ item.name }}</h3>
          <p>{{ item.description|striptags|truncate(100) }}</p>
          <a href="{{ url(item) }}" class="button link">Learn more &rarr;</a>
        </div>
      {% endfor %}
    </div>
  </section>

{% endblock %}
