// body {
 // background-color: pink;
}


h1, h2, h3, h4, h5, h6, p, ul, li, .button, svg text, legend, label, input[type="text"], input[type="email"], input[type="phone"], input[type="number"], textarea {
  font-family: "proxima-nova", "Helvetica Neue", Geneva, sans-serif !important;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.wf-inactive legend, .wf-inactive label, .wf-inactive input[type="text"], .wf-inactive input[type="email"], .wf-inactive input[type="phone"], .wf-inactive input[type="number"], .wf-inactive textarea,
.wf-active legend, .wf-active label, .wf-active input[type="text"], .wf-active input[type="email"], .wf-active input[type="phone"], .wf-active input[type="number"], .wf-active textarea,
.wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4, .wf-inactive h5, .wf-inactive h6, .wf-inactive p, .wf-inactive ul, .wf-inactive li, .wf-inactive .button, .wf-inactive svg text,
.wf-active h1, .wf-active h2, .wf-active h3, .wf-active h4, .wf-active h5, .wf-active h6, .wf-active p, .wf-active ul, .wf-active li, .wf-active .button, .wf-active svg text {
  visibility: visible;
  opacity: 1;
}

svg text.st4 {
	font-weight: bold !important;
}

h1 {
	line-height: 1.1;
}
h2 {
	font-size: 3em;
	font-weight: 100;
	line-height: 1;
	margin-bottom: 0.5em;
	line-height: 1.1;
}
@media (min-width: 640px) {
	h2 {
		font-size: 4em;
	}
}
h3 {
	font-size: 2em;
	line-height: 1.125;
	margin: 1em 0;

}
h6 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: .1em;
	color: #999;
}
address {
	font-style: normal;
	margin-left: 1em;
}

p.lead {
	margin-bottom: 2em;
}
a {
	color: #d00005;
}
a:hover,
a:hover i {
	color: #d00005;
}
.text-red {
	color: #d00005;
}
.button {
	border-radius: 0;
	font-weight: bold;
	color: white;
	margin-top: 1em;
	background: #d00005;
}
.button.hollow {
	background: transparent;
	border-color: black;
	color: black;
}
.button.link {
	color: black;
	padding-left: 0;
	padding-right: 0;
	background: transparent;
}
.button.link:hover {
	color: #d00005;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
@media (max-width: 640px) {
	header .row {
		padding-left: 2em;
		padding-right: 2em;
	}
}
@media (min-width: 640px) and (max-width: 1024px) {
	header .row {
		padding-left: 5em;
		padding-right: 5em;
	}
}
.mobile-menu .logo,
header .logo {
	height: 3em;
	margin: 1em 0;
}
header .menu {
	margin-top: 1.5em;
}
header .menu li a {
	font-size: .8em;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	color: #333;
}
a.menu-toggle {
	color: #000;
	font-size: 2em;
	padding: 0.5em 0;
}
#contact {
	background-size: auto 100%;
	background-position: left center;
	background-repeat: no-repeat;
}
footer {
	position: fixed;
	bottom: 0;
	background-color: #000;
}
footer .menu li.active a {
	background-color: transparent;
	font-weight: bold;
}
.padding {
	padding: 5em 1em;
}
@media (min-width: 640px) {
	.padding {
		padding: 8em 4em;
	}
}
.full {
	height: 100vh;
	position: relative;
}
.full .row {
	position: relative;
	top: 50%;
	transform: translateY(calc(-50%));
}
.cover {
	background-size: cover;
}
.contain {
	background-size: contain;
	background-repeat: no-repeat;
}
.fixed {
	background-attachment: fixed;
}
.overlay {
	background-color: rgba(0,0,0,0.6);
}
.bg-red {
	background-color: #d00005;
}
.bg-dark {
	background-color: #1e1e1e;
}
.bg-red * {
	color: #fff;
}
.bg-dark * {
	color: #eee;
}
.bg-red .button.hollow,
.bg-dark .button.hollow {
	border-color: #fff;
	color: #fff;
}
.bg-gray {
	background-color: #f5f5f5;
}
hr {
	border-bottom: 2px solid #ddd;
}
.circle {
	border-radius: 1000px;
}
.table {
	display: table;
	height: 100%; width: 100%;
}
.cell {
	height: 100%; width: 100%;
	display: table-cell;
	vertical-align: middle;
}
@media (min-width: 640px) {
	.text-columns-2 {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;

		-webkit-column-gap: 4em; /* Chrome, Safari, Opera */
	    -moz-column-gap: 4em; /* Firefox */
	    column-gap: 4em;
	}
}
.text-columns-2 ul {
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;
}
#hero {
	height: 60vh;
	margin-top: 5em;
}
#hero .overlay {
	height: 100%;
	position: relative;
}
#hero .overlay .inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
#hero h2 {
	color: #fff;
	margin-bottom: 0.25em;
}
#hero p {
	color: #fff;
}
#hero p.lead {
	margin-bottom: 0;
}
.midnightHeader.default {
  color: black;
  background: #fff;
}
.midnightHeader.dark {
  color: black;
  background: transparent;
}
.midnightHeader.light {
  color: white;
  background: transparent;
}
header ul.menu li.active a {
	background-color: transparent;
	color: #d00005;
}
ul.menu.vertical > li > a {
	color: #999;
	padding-left: 0;
	padding-right: 0;
}
ul.menu.vertical > li.active > a,
ul.menu.vertical > li > a:hover {
	color: #d00005;
	background-color: transparent;
}

ul.menu.small {
	margin-top: 2em;
	margin-left: -1.5em;
	font-size: 0.7em;
}
ul.menu.small li,
ul.menu.small li a {
	color: #999;
	text-transform: uppercase;
	letter-spacing: .1em;
}
#contact {
	position: relative;
}
#contact .menu.small {
	position: absolute;
	bottom: 1em;
}

.subnav {
	position: fixed;
	top: 5em;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
	padding: 0.5em 0.5em 0.2em;
}
.subnav ul.menu li a {
	color: #fff;
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .05em;
}
label, legend {
	font-size: 1em;
	font-weight: bold;
	display: block;
	color: #999;
}

select {
	color: #999;
}

fieldset {
	/*margin-bottom: 1em;*/
}

input[type="radio"]+label,
input[type="checkbox"]+label {
	margin-top: 0;
	margin-left: 0;
	font-weight: normal;
}
select,
textarea,
input[type="number"],
input[type="tel"],
input[type="phone"],
input[type="email"],
input[type="text"] {
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
}

input[type=radio],
input[type=checkbox] {
	opacity: 0;
	position: absolute;
}
input[type=radio]+label:before,
input[type=checkbox]+label:before {
    content: "\e905";
    font-family: 'icomoon' !important;
    margin-right: 0.5em;
    color: #999;
}

input[type=radio]+label:before {
    content: "\e907";
}

input[type=checkbox]:checked+label:before {
    content: "\e906";
    color: #d00005;
}

input[type=radio]:checked+label:before {
    content: "\e903";
    color: #d00005;
}
.mobile-menu {
	position: fixed;
	top: 0;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #222;
	z-index: 999;
	overflow:hidden;
	padding: 0 1em;
	transition: all 1s;
}
.menu-open .mobile-menu {
	bottom: 0;
}
.mobile-menu .menu {
	font-size: 2em;
}
.mobile-menu .menu li.active a {
	color: #fff;
	background: transparent;
}
.mobile-menu .menu-toggle {
	color: #fff;
}
#partners img {
	max-height: 60px;
	margin: 2em 0;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
	transition: all 0.3s;
	-webkit-mix-blend-mode: multiply;
	-moz-mix-blend-mode: multiply;
	mix-blend-mode: multiply;
}
#partners img:hover {
	opacity: 1;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}




.progress {
	height: auto;
	border-radius: 0;
	margin-bottom: 0.125em;
	background-color: #f5f5f5;
}
.progress-meter {
	border-radius: 0;
	background-color: #d00005;
	padding: 0.125em;
}

.progress-meter-text {
	position: static;
	left: auto;
	top: auto;
	transform: none;
	color: #fff;
	margin-bottom: 0;
	margin-left: 0.5em;
	font-weight: normal;
	font-size: 1em;

}
.progress-meter-text strong {
	display: inline-block;
	width: 2em;
}



// .file-upload {
//   position: relative;
//   overflow: hidden;
//   margin: 0 0 1em; }

// .file-upload input.file-input {
//   position: absolute;
//   top: 0;
//   right: 0;
//   margin: 0;
//   padding: 0;
//   font-size: 20px;
//   cursor: pointer;
//   opacity: 0;
//   filter: alpha(opacity=0); }



#pipeline .label {
	display: block;
	text-align: center;
	border-radius: 0;
	margin: .1em;
	margin-bottom: 1em;
	background-color: #f5f5f5;
	color: #999;
	padding: 1em;
}


#platform {

}
#platform h1 {
	margin-bottom: .125em;
}
#platform p.lead {
	color: #333;
}
#platform h3 {
	color: #999;
	margin-bottom: 0.25em;
}
#platform h3 b {
	display: block;
}
#platform p {
	color: #999;
}
#platform img {
	margin-top: 5em;
	max-width: 10em;
	max-height: 10em;
}
#platform .column {
	padding-left: 2em;
	padding-right: 2em;
}

#platform svg circle {
	  stroke: #999;
}
#platform svg,
#platform svg path,
#platform svg rect,
#platform svg circle,
#platform svg text {
	transition: all 1s;
}
@media (min-width: 760px) {
	#platform .item:hover svg {
		cursor: pointer;
	}
	#platform .item:hover svg circle {
		stroke: #d00005;
		fill: #d00005;
	}
	#platform .item:hover svg rect,
	#platform .item:hover svg path:not(.circle) {
	 	fill: white;
	}
	#platform .item:hover svg text {
	 	fill: #d00005;
	}
}
@media (max-width: 760px) {
	#platform .column:hover svg {
		cursor: pointer;
	}
	#platform .column:hover svg circle {
		stroke: #d00005;
		fill: #d00005;
	}
	#platform .column:hover svg rect,
	#platform .column:hover svg path:not(.circle) {
	 	fill: white;
	}
	#platform .column:hover svg text {
	 	fill: #d00005;
	}
}