{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}

  <section class="bg-dark cover padding" data-bg="{{ item.image.url }}" style="margin-top: 4em;">
    <div class="row">
      <div class="column large-7">
        <h2>{{ item.name }}</h2>
        <p class="lead" style="margin-bottom: 0;">{{ item.description }}</p>
      </div>
    </div>
  </section>

  <section class="padding">
    <div class="row">
      <div class="column large-4 show-for-large">
        <h3 style="margin-top: 0;">Services</h3>
        <hr>
        <ul class="menu vertical">
          {% for item in cms.services %}
            <li {% if getCurrentUrl() == url(item) %}class="active"{% endif %}><a href="{{ url(item) }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
        <a href="{{ url('requestaquote') }}" class="button link">Request a quote &rarr;</a>
      </div>
      <div class="column large-8">
        {{ item.content|safe }}
        <a href="{{ url('requestaquote') }}" class="button hollow hide-for-large">Request a quote &rarr;</a>
      </div>
    </div>
  </section>

  {% include 'templates/partials/cta.html' %}

{% endblock %}
