{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - services{% endblock %}

{% block content %}

  <section id="hero" class="cover fixed" data-bg="{{ cms.homepage.grid[1].image.url }}">
    <div class="overlay">
      <div class="inner padding">
        <div class="row">
          <div class="column large-7">
            <h2>{{ cms.homepage.grid[1].headline|safe }}</h2>
            <p class="lead">{{ cms.homepage.grid[1].description }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% for group in cms.servicescategories %}
    <section class="padding {% if loop.index0 % 2 %}bg-gray{% endif %}">
      <div class="row">
        <div class="column large-9">
          <h2>{{ group.name }}</h2>
          {% if group.overview %}
            <p class="lead">{{ group.overview }}</p>
          {% endif %}
        </div>
      </div>
      <div class="row medium-up-2 large-up-3">
        {% for item in group.services_category %}
          <div class="column">
            <hr>
            <h3>{{ item.name }}</h3>
            <p>{{ item.content|safe|truncate(200) }}</p>
            <a href="{{ url(item) }}" class="button link" style="margin-top: 0;">Learn More &rarr;</a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}

  {% include 'templates/partials/cta.html' %}

{% endblock %}
