<!--to detect change-->
{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block content %}

<!--css styles-->
<style type="text/css">

  .button.bisestiHollow {
    background: transparent;
    border-color: #fff;
    color: #fff;
  }
  .button.bisestiHollow:hover,
  .button.bisestiHollow:focus,
  .button.bisestiHollow:active {
    background: transparent;
    border-color: #d00005;
    color: #d00005;
  }
</style>

  <section id="hero" class="cover fixed" data-bg="{{ item.image.url }}">
    <div class="overlay">
      <div class="inner padding">
        <div class="row">
          <div class="column large-6">
            <h2>{{ item.name }}</h2>
            <p class="lead">{{ item.description }}</p>
            <a id="SectorButton" href="{{ url('requestaquote') }}" class="button bisestiHollow large" style="margin-bottom: 0; margin-top: 1.5em;">
                      Request a Quote&nbsp;&rarr;
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="padding" id="pipeline">
    <div class="row column">
      {% if item.name == 'Therapeutics' %}
        <h3 style="margin-top: 0;">Pipeline</h3>

        {% set labels = cms.pipeline.labels %}
        <div class="row collapse small-up-4">
          {% for label in labels %}
            <div class="column">
              <div class="label">
                {{ label.name }}
              </div>
            </div>
          {% endfor %}
        </div>

        {% for item in cms.pipeline.grid|slice(1,99) %}
          <div class="progress" role="progressbar" aria-valuenow="{{ item.length }}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-meter" style="width: {{ item.length }}%">
              <p class="progress-meter-text"><strong>X{{ loop.index + timeline[categoryloop]|size }}</strong> {{ item.name }}</p>
            </div>
          </div>
        {% endfor %}

        <h3>&nbsp;</h3>
      {% endif %}

      {{ item.content|safe }}

    </div>
  </section>


 {% if item.name == 'Research' %}

    {% for group in cms.servicescategories %}
      <section class="padding {% if loop.index % 2 %}bg-gray{% endif %}">
        <div class="row">
          <div class="column large-9">
            <h2>{{ group.name }}</h2>
            {% if group.overview %}
              <p class="lead">{{ group.overview }}</p>
            {% endif %}
          </div>
        </div>
        <div class="row medium-up-2 large-up-3">
          {% for item in group.services_category %}
            <div class="column">
              <hr>
              <h3>{{ item.name }}</h3>
              <p>{{ item.content|safe|truncate(200) }}</p>
              <a href="{{ url(item) }}" class="button link" style="margin-top: 0;">Learn More &rarr;</a>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endfor %}

  {% endif %}

  <section id="cta" class="bg-red padding">
    <div class="row column text-center">
      <h3 style="margin-bottom: 2em;">{{ item.call_to_action }}</h3>
      {% include 'templates/partials/contact-form.html' %}
    </div>
  </section>

{% endblock %}