{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - news{% endblock %}

{% block content %}

  {% set featured = cms.news[0] %}

  <section id="hero" class="bg-dark cover" data-bg="{{ featured.image.url }}">
    <div class="overlay">
      <div class="inner padding">
        <div class="row">
          <div class="column">
            <h6>{{ featured.publish_date|date('M j Y') }}</h6>
            <h2>{{ featured.name }}</h2>
            <p class="lead">{{ featured.description }}</p>
            <a href="{{ featured.website }}" class="button large hollow">Read more &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{#   <section class="padding">
    <div class="row column">
      <h2>Abpro in the News</h2>
    </div>
    <div class="row medium-up-2 large-up-3">
      {% for item in cms.news|slice(1,3) %}
        <div class="column">
          <hr>
          <h6>{{ item.publish_date|date('M j Y') }}</h6>
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          <a href="{{ item.website }}" rel="external" class="button link">Read More &rarr;</a>
        </div>
      {% endfor %}
    </div>
  </section> #}

  <section class="padding bg-gray">
    <div class="row column">
      <h2>Press Releases</h2>
    </div>
    <div class="row medium-up-2 large-up-3">
      {% for item in cms.news|slice(1,3) %}
        <div class="column">
          <hr>
          <h6>{{ item.publish_date|date('M j Y') }}</h6>
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          <a href="{{ item.pdf.url }}" rel="external" class="button link">Read More &rarr;</a>
        </div>
      {% endfor %}
    </div>
  </section>


  <section id="cta" class="bg-red padding">
    <div class="row column text-center">
      <h3 style="margin-bottom: 2em;">Sign up for updates:</h3>
      {% include 'templates/partials/contact-form.html' %}
    </div>
  </section>

  {# {% include 'templates/partials/cta.html' %} #}

{% endblock %}
