{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

<style>
    header {
      background-color: #fff;
      padding-left: 0.5em;
    }
    #hero {
      height: auto;
    }
    #hero h2,
    #hero p {
      color: #fff;
    }
    #hero .button {
      color: #fff;
      border-color: #fff;
      margin-bottom: 0;
    }
    .slide {
      background-color: #333;
    }
    h6 {
      margin-top: 0;
    }
    .slick-slide h2 {
      transition: all 1s;
      transform: translateX(25vw);
      opacity: 0;
    }
    .slick-slide.slick-current h2 {
      transform: translateX(0);
      opacity: 1;
    }
    .slick-slide p {
      transition: all 1s;
      transform: translateX(50vw);
      opacity: 0;
    }
    .slick-slide.slick-current p {
      transform: translateX(0);
      opacity: 1;
    }
    .slick-slide .button {
      display: inline-block;
      margin-top: 0;
      transition: all 1s;
      transform: translateX(100vw);
      opacity: 0;
    }
    .slick-slide.slick-current .button {
      transform: translateX(0);
      opacity: 1;
    }
    .slide {
      min-height: 60vh !important;
    }
    .overlay {
      background-color: rgba(0,0,0,0.5);
      position: relative;
    }
    .overlay .cell {
      padding: 4em 2em;
    }
    @media (min-width: 1024px) {
      .overlay .cell {
        padding: 4em 0;
      }
    }
    #about {
      background-image: url('/static/images/hexagons-gray.svg');
      -webkit-background-size: cover;
      background-size: cover;
      background-position: -50vw center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .overlay {
      background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 100%);
      background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 100%);
      background: linear-gradient(45deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0.3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
    }
</style>

  <section id="hero" class="bg-dark">
    <div class="carousel bg-dark" data-equalizer>
      {% for item in cms.homepage.grid %}
        <div class="slide bg-dark cover" data-equalizer-watch data-bg="{{ item.image.url }}">
          <div class="overlay">
            <div class="row">
              <div class="column medium-8" data-equalizer-watch>
                <div class="table">
                  <div class="cell">
                    <h2 style="margin-top: 0;">{{ item.headline|safe }}</h2>
                    <p class="lead">{{ item.description }}</p>
                    <a href="{{ url('technology') }}" class="button hollow large" style="margin-bottom: 0; margin-top: 1.5em;">
                      Learn about our technology&nbsp;&rarr;
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="vision" class="padding bg-gray">
    <div class="row">
      <div class="column medium-10 medium-centered large-10 text-center">
        <p class="lead" style="margin-bottom: 0;">
          Ushering in a new era empowered by biology to create breakthrough products to treat disease in an unprecedented manner by combining mankind’s understanding of genomics, immunology and advanced engineering.
        </p>
      </div>
    </div>
  </section>

  <section id="news" class="padding">
    <div class="row large-up-3" data-equalizer data-equalize-on="large">
      {% for item in cms.news|slice(0,3) %}
        <div class="column">
          <div class="inner" data-equalizer-watch-off>
            <hr>
            <h6>{{ item.publish_date|date('M j Y') }}</h6>
            <h3 class="text-red">{{ item.name }}</h3>
            <p>{{ item.description }}</p>
          </div>
          <a href="{{ item.pdf.url }}" rel="external" class="button link">
            Read more &rarr;
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

  <section id="about" class="padding bg-gray">
    <div class="row">
      <div class="column large-6">
      </div>
      <div class="column large-6">
        <h2>About Us</h2>
        <p>Abpro is a Massachusetts based biotechnology company. We are pioneers of industrial biochemistry and our mission is to bring innovation to the life sciences industry and ultimately improve living health. Through technology and automation, our DiversImmune™ discovery platform has streamlined all aspects of the process to deliver antibodies at industry leading speeds against previously difficult targets. Our products and discovery services are used by leading academic labs and companies around the world for research purposes, such as diagnostics and therapeutics.</p>
        <p>
          <a href="{{ url('about') }}" class="button large hollow">
            Learn more about abpro &rarr;
          </a>
        </p>
      </div>
    </div>
  </section>

{% endblock %}
