{# ------------------------------------------------------- #}
{# ONE OFF VIEW technology #}
{# This page can use any data from http:localhost:2000/cms/#/form/technology/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this technology's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.technology.name }}{% endblock %}

{% block head_extra %}
  <style>
      svg g.item circle {
        stroke: #999;
      }

      svg g.item,
      svg g.item path,
      svg g.item rect,
      svg g.item circle,
      svg g.item text {
        transition: all 1s;
      }
      svg g.item:hover {
        cursor: pointer;
        /*transform: scale(1.1) translate( calc(-15%), calc(-15%) );*/
      }
      svg g.item:hover circle {
        stroke: #d00005;
        fill: #d00005;
        /*transform: scale(1.1);*/
      }
      svg g.item:hover rect,
      svg g.item:hover path:not(.circle) {
        fill: white;
      }
      svg g.item:hover text {
        fill: #d00005;
      }
  </style>
{% endblock %}

{% block content %}




  <section id="hero" class="cover" data-bg="{{ cms.technology.image.url }}">
    <div class="overlay">
      <div class="inner">
        <div class="row">
          <div class="column large-9">
            <h2>{{ cms.technology.headline }}</h2>
            <p class="lead">{{ cms.technology.overview }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="row expanded" style="max-width: 1400px;">
      <div class="column text-center" style="padding: 4em 0;">
        {% include 'static/images/technology-1.svg' %}
        {# <img src="/static/images/technology-1.svg" alt=""> #}
        {# <canvas id="technology"></canvas> #}
      </div>
    </div>
  </section>


<section class="padding bg-gray">
  <div class="row column text-center">
    <h2 style="margin-bottom: 2em;">Key Advantages</h2>
  </div>
  <div class="row expanded medium-up-4">
    {% for item in cms.technology.advantages|slice(0,4) %}
      <div class="column text-center">
        <div class="circle" style="display: block; height: 100px; width: 100px; background-color: #d00005; margin: 0 auto;"></div>
        <h4 style="margin-top: 1.5em; line-height: 1.15;">{{ item.name }}</h4>
        <p>{{ item.description }}</p>
      </div>
    {% endfor %}
  </div>
</section>

  {% for section in cms.technology.sections %}
    <section class="padding {% if loop.index0 % 2 %}bg-gray{% endif %}">
      <div class="row column text-center">
        <h2 style="margin-bottom: 2em;">{{ section.name }}</h2>
      </div>
      <div class="row">

        <div class="column medium-6">
          <img src="{{ section.image.url }}" alt="">
        </div>
        <div class="column medium-6">
          {{ section.content|safe }}
        </div>
      </div>
    </section>
  {% endfor %}

  {% include 'templates/partials/cta.html' %}

{% endblock %}
