{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ item.name }}{% endblock %}

{% block head_extra %}
  <style type="text/css">
    form.loading {
      opacity: 0.5;
    }
  </style>
{% endblock %}

{% block content %}
  <section class="padding">
    <div class="row">
      <div class="column large-4"></div>
      <div class="column large-8">
         <h2 style="margin-bottom: 1em;">{{ item.name }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="column large-4">
        <h3 style="margin-top: 0;">Request a Quote</h3>
        <hr>
        <ul class="menu vertical show-for-large">
          {% for link in cms.requestaquote %}
            <li {% if getCurrentUrl() == url(link) %}class="active"{% endif %}><a href="{{ url(link) }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="column large-8">
        <div class="form-success hide text-center padding bg-gray">
          <h4>Thanks for your request!</h4>
          <p>
            We'll get back to you within 2 business days.
          </p>
        </div>
         <div class="form-error hide text-center padding bg-gray">
          <h4>There was a problem with your request.</h4>
          <p>
            Please try again or email us at <a href="mailto:help@abpro-labs.com">help@abpro-labs.com</a>
          </p>
        </div>
        {{ item.form|safe }}
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts_extra %}
  <script>
  $(document)
    .on('formvalid.zf.abide', function(event){
      event.preventDefault();

      var form = $('form');
      var data = $('form').serialize();

      form.addClass('loading');

      $.ajax({
          url: "https://formspree.io/xlelrpzm",
          method: "POST",
          data: data,
          dataType: "json",

          success: function(data, status){
            form.slideUp();
            $('body').animate({scrollTop: 0});
            $('.form-success').removeClass('hide').slideUp(0).slideDown();
          },

          error: function(data, status, err) {
            form.slideUp();
            $('body').animate({scrollTop: 0});
            $('.form-error').removeClass('hide').slideUp(0).slideDown();
          }
      });
    })
    .on("submit", function(event) {
      event.preventDefault();
    });
  </script>
{% endblock %}
