{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - events{% endblock %}

{% block content %}

  <section class="padding" id="events">
    <div class="row column text-center">
      <h2 style="margin-bottom: 1em;">Events</h2>
    </div>
    <div class="row medium-up-2 large-up-3">
      {% for item in cms.events|sort("start_date") %}
        <div class="column">
          <hr>
          <h6>{{ item.start_date|date('M j') }}{% if item.end_date %} &ndash; {{ item.end_date|date('j') }}{% endif %}, {{ item.end_date|date('Y') }}</h6>
          <h3>{{ item.name }}</h3>
          <p>{{ item.location }}</p>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="padding bg-gray">
    <div class="row column text-center">
      <h3>Learn more about Abpro at upcoming events near you</h3>
      {% include 'templates/partials/contact-form.html' %}
    </div>
  </section>

{% endblock %}
